streamlit
pandas
numpy

langchain
langchain-community
langchain-core
langchain-experimental
langchain-groq
langchain-openai
langchain-text-splitters
langsmith

openai
groq

fuzzywuzzy
python-levenshtein
rapidfuzz

sqlalchemy
sqlparse
mysql-connector-python

python-dotenv
tabulate
requests
wikipedia

altair
pydeck
pillow
pyarrow
protobuf